In [1]:
import pandas as pd
wbd = pd.read_csv('Desktop/6c528d9d-391f-4991-87c3-bb6cffcff4c7_Data.csv')

In [2]:
wbd

,Country Name,Country Code,Series Name,Series Code,Version Name,Version Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Afghanistan,AFG,Wheat price (US$ per metric ton),PA.PPR.WHEA.CD,2020 Sep,202009.0,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,Afghanistan,AFG,Women who believe a husband is justified in be...,SG.VAW.BURN.ZS,2020 Sep,202009.0,..,..,..,..,...,..,..,..,..,..,18.2,..,..,..,..
2,Afghanistan,AFG,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,2020 Sep,202009.0,..,..,..,..,...,..,..,..,..,..,59.2,..,..,..,..
3,Afghanistan,AFG,Wanted fertility rate (births per woman),SP.DYN.WFRT,2020 Sep,202009.0,..,..,..,..,...,..,..,..,..,..,4.4,..,..,..,..
4,Afghanistan,AFG,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,2020 Sep,202009.0,..,..,..,..,...,96,99,..,97,95,98,90,95,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31903,Data from database: WDI Database Archives (beta),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31904,Last Updated: 10/26/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import numpy as np
wbd = wbd.iloc[:, np.r_[0,2, 6:len(wbd.columns)]]
wbd

,Country Name,Series Name,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Afghanistan,Wheat price (US$ per metric ton),..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,Afghanistan,Women who believe a husband is justified in be...,..,..,..,..,..,..,..,..,...,..,..,..,..,..,18.2,..,..,..,..
2,Afghanistan,Women who believe a husband is justified in be...,..,..,..,..,..,..,..,..,...,..,..,..,..,..,59.2,..,..,..,..
3,Afghanistan,Wanted fertility rate (births per woman),..,..,..,..,..,..,..,..,...,..,..,..,..,..,4.4,..,..,..,..
4,Afghanistan,Vitamin A supplementation coverage rate (% of ...,..,..,..,..,..,..,..,..,...,96,99,..,97,95,98,90,95,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31903,Data from database: WDI Database Archives (beta),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31904,Last Updated: 10/26/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
wbd = pd.melt(frame = wbd, id_vars = ('Country Name', 'Series Name'), var_name = "Year", value_name = "Value")
wbd

,Country Name,Series Name,Year,Value
0,Afghanistan,Wheat price (US$ per metric ton),1960 [YR1960],..
1,Afghanistan,Women who believe a husband is justified in be...,1960 [YR1960],..
2,Afghanistan,Women who believe a husband is justified in be...,1960 [YR1960],..
3,Afghanistan,Wanted fertility rate (births per woman),1960 [YR1960],..
4,Afghanistan,Vitamin A supplementation coverage rate (% of ...,1960 [YR1960],..
...,...,...,...,...
1914295,NaN,NaN,2019 [YR2019],NaN
1914296,NaN,NaN,2019 [YR2019],NaN
1914297,NaN,NaN,2019 [YR2019],NaN
1914298,Data from database: WDI Database Archives (beta),NaN,2019 [YR2019],NaN
1914299,Last Updated: 10/26/2020,NaN,2019 [YR2019],NaN

In [5]:
wbd['Year'] = wbd['Year'].apply(lambda x:x[:4])
wbd['Yeartr'] = wbd['Year'].apply(lambda x:x[-2:])

wbd

,Country Name,Series Name,Year,Value,Yeartr
0,Afghanistan,Wheat price (US$ per metric ton),1960,..,60
1,Afghanistan,Women who believe a husband is justified in be...,1960,..,60
2,Afghanistan,Women who believe a husband is justified in be...,1960,..,60
3,Afghanistan,Wanted fertility rate (births per woman),1960,..,60
4,Afghanistan,Vitamin A supplementation coverage rate (% of ...,1960,..,60
...,...,...,...,...,...
1914295,NaN,NaN,2019,NaN,19
1914296,NaN,NaN,2019,NaN,19
1914297,NaN,NaN,2019,NaN,19
1914298,Data from database: WDI Database Archives (beta),NaN,2019,NaN,19
1914299,Last Updated: 10/26/2020,NaN,2019,NaN,19

In [14]:
wbd['Year'] = pd.to_numeric(wbd.Year, downcast='integer')
wbd['Value'] = pd.to_numeric(wbd.Value, errors='coerce')
#wbd['Yeartr'] = pd.to_numeric(wbd.Yeartr, downcast='integer')

#wbd['Indicator Name'] = wbd['Indicator Name'].astype(str)
wbd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1914000 entries, 0 to 1914294
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   Country Name    object
 1   Indicator Name  object
 2   Year            int16
 3   Value           float64
 4   Yeartr          int8
dtypes: float64(1), int16(1), int8(1), object(2)
memory usage: 63.9+ MB

In [8]:
wbd.columns = ['Country Name', 'Indicator Name', 'Year', 'Value']

#wbd = wbd[wbd['Value'].notna()]
wbd = wbd.reset_index(drop=True)
wbd = wbd[wbd['Country Name'].notna()]
wbd = wbd[wbd['Indicator Name'].notna()]
wbd

,Country Name,Indicator Name,Year,Value,Yeartr
0,Afghanistan,Wheat price (US$ per metric ton),1960,NaN,60
1,Afghanistan,Women who believe a husband is justified in be...,1960,NaN,60
2,Afghanistan,Women who believe a husband is justified in be...,1960,NaN,60
3,Afghanistan,Wanted fertility rate (births per woman),1960,NaN,60
4,Afghanistan,Vitamin A supplementation coverage rate (% of ...,1960,NaN,60
...,...,...,...,...,...
1914290,Zimbabwe,Arable land (hectares),2019,NaN,19
1914291,Zimbabwe,"Animal species, threatened",2019,NaN,19
1914292,Zimbabwe,Aid per capita (US$),2019,NaN,19
1914293,Zimbabwe,"Agricultural machinery, tractors per 100 sq. k...",2019,NaN,19
1914294,Zimbabwe,Account at a financial institution (% age 15+),2019,NaN,19

In [90]:
dfv2.to_csv(r'desktop\dfv2.csv', index = False)

In [75]:
#newdf = df.append(wbd)
#newdf
#newdf2 = newdf.iloc[:3500]
#newdf
dfv = wbd[wbd['Value'].notna()]


vc = dfv['Indicator Name'].value_counts()
print (cv)
cv = (vc[vc > 1500 ])
dfv2 = wbd[wbd['Indicator Name'].isin(cv.index)]

#years = ['1962','1967','1972','1977','1982','1987','1992','1997','2002','2007']
#newdf = wbd[wbd.Year.isin(years)]
#newdf['Country Name'] = newdf.index
#dfv2

CO2 emissions (metric tons per capita)                                                            12976
Arable land (% of land area)                                                                      12918
Arable land (hectares per person)                                                                 12892
GDP per capita (current US$)                                                                      12369
GDP per capita growth (annual %)                                                                  11889
CO2 emissions (kg per 2010 US$ of GDP)                                                            10703
Arable land (hectares)                                                                            10513
Total greenhouse gas emissions (kt of CO2 equivalent)                                             10039
Arms imports (SIPRI trend indicator values)                                                        8610
Fossil fuel energy consumption (% of total)                                                        8087
Electricity production from hydroelectric sources (% of total)                                     8020
Energy use (kg of oil equivalent per capita)                                                       7887
Refugee population by country or territory of asylum                                               7812
Refugee population by country or territory of origin                                               7459
Agricultural machinery, tractors per 100 sq. km of arable land                                     7424
Probability of dying among youth ages 20-24 years (per 1,000)                                      7170
Forest area (% of land area)                                                                       6857
Self-employed, total (% of total employment)                                                       6757
Employment in agriculture (% of total employment)                                                  6757
Renewable energy consumption (% of total final energy consumption)                                 6588
Total debt service (% of GNI)                                                                      6418
Sex ratio at birth (male births per female births)                                                 5280
International tourism, expenditures (% of total imports)                                           5065
Scientific and technical journal articles                                                          4617
Time required to start a business (days)                                                           3740
Time required to enforce a contract (days)                                                         3740
Time to resolve insolvency (years)                                                                 3393
Time to prepare and pay taxes (hours)                                                              3367
Stocks traded, total value (% of GDP)                                                              3340
Arms exports (SIPRI trend indicator values)                                                        3049
Fertilizer consumption (kilograms per hectare of arable land)                                      2987
Renewable internal freshwater resources per capita (cubic meters)                                  2540
Renewable internal freshwater resources, total (billion cubic meters)                              2533
Time required to get electricity (days)                                                            2501
Literacy rate, adult total (% of people ages 15 and above)                                         2461
Literacy rate, adult male (% of males ages 15 and above)                                           2461
Literacy rate, adult female (% of females ages 15 and above)                                       2457
PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)                             2328
PM2.5 air pollution, population exposed to levels exceeding WHO guideline value (% of total)       2328
Income share held by lowest 10%                                                                    1677
Share of youth not in education, employment or training, total (% of youth population)             1623
Share of youth not in education, employment or training, female (% of female youth population)     1602
Share of youth not in education, employment or training, male (% of male youth population)         1601
Bank nonperforming loans to total gross loans (%)                                                  1567
Name: Indicator Name, dtype: int64

In [89]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import plotly.express as px
from jupyter_dash import JupyterDash

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = JupyterDash(__name__)#, external_stylesheets=external_stylesheets)

#df = pd.read_csv('https://plotly.github.io/datasets/country_indicators.csv')

#df = pd.read_csv('Desktop/wbd.csv')

df = dfv2

available_indicators = df['Indicator Name'].unique()

app.layout = html.Div([
    html.Div([

        html.Div([
            dcc.Dropdown(
                id='crossfilter-xaxis-column',
                options=[{'label': i, 'value': i} for i in available_indicators],
                value='GDP per capita (current US$)'#Fertility rate, total (births per woman)'
            ),
            dcc.RadioItems(
                id='crossfilter-xaxis-type',
                options=[{'label': i, 'value': i} for i in ['Linear', 'Log']],
                value='Linear',
                labelStyle={'display': 'inline-block'}
            )
        ],
        style={'width': '49%', 'display': 'inline-block'}),

        html.Div([
            dcc.Dropdown(
                id='crossfilter-yaxis-column',
                options=[{'label': i, 'value': i} for i in available_indicators],
                value='GDP per capita (current US$)'                    #Life expectancy at birth, total (years)'
            ),
            dcc.RadioItems(
                id='crossfilter-yaxis-type',
                options=[{'label': i, 'value': i} for i in ['Linear', 'Log']],
                value='Linear',
                labelStyle={'display': 'inline-block'}
            )
        ], style={'width': '49%', 'float': 'right', 'display': 'inline-block'})
    ], style={
        'borderBottom': 'thin lightgrey solid',
        'backgroundColor': 'rgb(250, 250, 250)',
        'padding': '10px 5px'
    }),

    html.Div([
        dcc.Graph(
            id='crossfilter-indicator-scatter',
            hoverData={'points': [{'customdata': 'Japan'}]}
        )
    ], style={'width': '49%', 'display': 'inline-block', 'padding': '0 20'}),
    html.Div([
        dcc.Graph(id='x-time-series'),
        dcc.Graph(id='y-time-series'),
    ], style={'display': 'inline-block', 'width': '49%'}),

    html.Div(dcc.Slider(
        id='crossfilter-year--slider',
        min=df['Year'].min(),
        max=df['Year'].max(),
        value=df['Year'].max(),
        marks={str(year): str(year) for year in df['Year'].unique()},
        step=None
    ), style={'width': '149%', 'padding': '0px 20px 20px 20px', 'font-size': '10%'})
])


@app.callback(
    dash.dependencies.Output('crossfilter-indicator-scatter', 'figure'),
    [dash.dependencies.Input('crossfilter-xaxis-column', 'value'),
     dash.dependencies.Input('crossfilter-yaxis-column', 'value'),
     dash.dependencies.Input('crossfilter-xaxis-type', 'value'),
     dash.dependencies.Input('crossfilter-yaxis-type', 'value'),
     dash.dependencies.Input('crossfilter-year--slider', 'value')])
def update_graph(xaxis_column_name, yaxis_column_name,
                 xaxis_type, yaxis_type,
                 year_value):
    dff = df[df['Year'] == year_value]

    fig = px.scatter(x=dff[dff['Indicator Name'] == xaxis_column_name]['Value'],
            y=dff[dff['Indicator Name'] == yaxis_column_name]['Value'],
            hover_name=dff[dff['Indicator Name'] == yaxis_column_name]['Country Name']
            )

    fig.update_traces(customdata=dff[dff['Indicator Name'] == yaxis_column_name]['Country Name'])

    fig.update_xaxes(title=xaxis_column_name, type='linear' if xaxis_type == 'Linear' else 'log')

    fig.update_yaxes(title=yaxis_column_name, type='linear' if yaxis_type == 'Linear' else 'log')

    fig.update_layout(margin={'l': 40, 'b': 40, 't': 10, 'r': 0}, hovermode='closest')

    return fig


def create_time_series(dff, axis_type, title):

    fig = px.scatter(dff, x='Year', y='Value')

    fig.update_traces(mode='lines+markers')

    fig.update_xaxes(showgrid=False)

    fig.update_yaxes(type='linear' if axis_type == 'Linear' else 'log')

    fig.add_annotation(x=0, y=0.85, xanchor='left', yanchor='bottom',
                       xref='paper', yref='paper', showarrow=False, align='left',
                       bgcolor='rgba(255, 255, 255, 0.5)', text=title)

    fig.update_layout(height=225, margin={'l': 20, 'b': 30, 'r': 10, 't': 10})

    return fig


@app.callback(
    dash.dependencies.Output('x-time-series', 'figure'),
    [dash.dependencies.Input('crossfilter-indicator-scatter', 'hoverData'),
     dash.dependencies.Input('crossfilter-xaxis-column', 'value'),
     dash.dependencies.Input('crossfilter-xaxis-type', 'value')])
def update_y_timeseries(hoverData, xaxis_column_name, axis_type):
    country_name = hoverData['points'][0]['customdata']
    dff = df[df['Country Name'] == country_name]
    dff = dff[dff['Indicator Name'] == xaxis_column_name]
    title = '<b>{}</b><br>{}'.format(country_name, xaxis_column_name)
    return create_time_series(dff, axis_type, title)


@app.callback(
    dash.dependencies.Output('y-time-series', 'figure'),
    [dash.dependencies.Input('crossfilter-indicator-scatter', 'hoverData'),
     dash.dependencies.Input('crossfilter-yaxis-column', 'value'),
     dash.dependencies.Input('crossfilter-yaxis-type', 'value')])
def update_x_timeseries(hoverData, yaxis_column_name, axis_type):
    dff = df[df['Country Name'] == hoverData['points'][0]['customdata']]
    dff = dff[dff['Indicator Name'] == yaxis_column_name]
    return create_time_series(dff, axis_type, yaxis_column_name)


if __name__ == '__main__':
    app.run_server(mode = 'inline',debug=True)

Dash app running on http://127.0.0.1:8050/